body { 
	text-align:center; 
}

.day {
	font-size: 10px;
}

.day {
	&.area {
		background-color: whitesmoke;
	}
}

.time {
	font-size: 28px;
}

.date {
	font-size: 10px;
}

.area {
	border: 1 solid lightgray;
	border-radius: 4px;
	/*background-color: #F2F2F2;*/
	padding: 2px;
}

.area_padd {
	padding: 7px;
}

.digital_area {
	position: absolute;
	left: 50%;
	margin-left: -44px;
	top: 108px;
}